<h1>Detail</h1>

<ul>
  
    <li>
    <%= @article.id %> <br/>
      <%= @article.title %> <br/>
      <small> <%= @article.body %> </small>, <small> <%= @article.created_at %> </small>
    </li>
  
</ul>